{% extends 'base_template.html' %}
{% load humanize %}
{% block extra_head %}
    <title>صفحه اصلی</title>
{% endblock %}


{% block content %}
    {{ 4500000}}
    <body style="background-color: #ebeff1;">
    <div style="background-color: #ef78;width: 100%;height: 100px; text-align:center; font-size: 40px; font-weight: bolder; padding: 30px;">
        <p>هدر</p>
    </div>
    <div class="m-5">
        <p>صفحه اصلی</p>
        <h1 class="text-center">زبان ها</h1>

        <table class="table table-info table-striped">
            <thead>
            <tr>
                <th class="text-center" scope="col">ردیف</th>
                <th class="text-center" scope="col">نام زبان</th>
            </tr>
            </thead>
            <tbody>
            {% for language in languages %}
                <tr>
                    <th class="text-center" scope="row">{{ language.id }}</th>
                    <td class="text-center">
                        <a href="{% url 'words_by_language' language.id %}">{{ language.title }}</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>


        <form action="{% url 'meaning' %}" method="post">
            {% csrf_token %}
            <div class="d-flex gap-2 justify-content-center align-items-center col-12">
                <label for="word" class="text-center">لغت</label>
                <input class="col-3" type="text" name="word" id="word" placeholder="کلمه برای جستجو را وارد کنید">
                <button class="d-block">معنی کن</button>
            </div>
        </form>
        <br>
        <hr>
        <p id="original_word">
            {{ std|safe }}
        </p>

        <br>
        {% for m in word.meaning.all %}
            معنی به  {{ m.language }} : {{ m.meaning }}
            <br>
        {% endfor %}

        <hr>
        <hr>
        <hr>

        <form action="{% url 'reverse_meaning' %}" method="post">
            {% csrf_token %}
            <div class="row justify-content-center align-items-center">
                <label for="meaning" class="2">معنی</label>
                <input class="form-control  col-3" type="text" name="meaning" id="word" placeholder="کلمه برای جستجو را وارد کنید">
                <button class="d-block col-3">لغت رو پیدا کن</button>
            </div>
        </form>
        <br>
        <hr>
        {% for w in word2 %}
            {{ w.title }}
        {% endfor %}
    </div>
{% endblock %}
